RewriteEngine On

RewriteRule ^pixelforge$ webshop.php [L]
RewriteRule ^bejelentkezes$ login.php [L]
RewriteRule ^regisztracio$ register.php [L]
RewriteRule ^aszf$ aszf.php [L]
RewriteRule ^pixelforge-admin$ manage_products.php [L]
RewriteRule ^feltoltes$ manage_products.php [L]
RewriteRule ^product$ product.php [L]
RewriteRule ^cart$ cart.php [L]
RewriteRule ^szallitas$ szallitas.php [L]
RewriteRule ^garancia$ garancia.php [L]
RewriteRule ^adatvedelem$ adatvedelem.php [L]