RewriteEngine On

RewriteRule ^pixelforge$ webshop.php [L]
RewriteRule ^bejelentkezes$ login.php [L]
RewriteRule ^regisztracio$ register.php [L]
RewriteRule ^aszf$ aszf.php [L]
RewriteRule ^pixelforge-admin$ manage_products.php [L]
RewriteRule ^feltoltes$ upload_product.php [L]
