RewriteEngine On

RewriteRule ^pixelforge$ webshop.php [L]
RewriteRule ^bejelentkezes$ login.php [L]
RewriteRule ^regisztracio$ register.php [L]
RewriteRule ^aszf$ aszf.php [L]
RewriteRule ^polo-testreszabas$ polo.php [L]
